<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CSS</title>
</head>
	<link rel="stylesheet" href="../css/style.css">
<body>
	<div class="container">
		<header>
			<nav class="menu">
				<ul>
					<li><a href="../index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="#">Servicios</a></li>
					<li><a href="contactos.html">Contacto</a></li>
				</ul>
			</nav>
		</header>
		<main>	
			<img src="../img/servicio.jpeg" alt="">
			<div class="main_principal">
				<h2>Bienvenidos a mi página de Servicios</h2>	
				<iframe width="100%" height="315" src="https://www.bing.com/videos/search?q=ronald+andres+nieto+collante&view=detail&mid=14F088A95350667ADD3F14F088A95350667ADD3F&ru=%2fsearch%3fpglt%3d297%26q%3dronald%2bandres%2bnieto%2bcollante%26cvid%3d6db98b7d45bc4dc288c8c3a3d562bbc7%26gs_lcrp%3dEgRlZGdlKgYIARBFGDsyCQgAEEUYOxj5BzIGCAEQRRg7MgYIAhBFGDkyBggDEC4YQDIGCAQQLhhAMgYIBRAAGEAyBggGEEUYPDIGCAcQRRg8MgYICBBFGDzSAQg2Njg4ajBqMagCALACAA%26FORM%3dANNTA1%26PC%3dU531&mmscn=vwrc&FORM=WRVORC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<video src="../video/video.mp4" controls width="100%" autoplay></video>	
				
				<p>Esto es un párrafo dentro de un divisor</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Perferendis doloremque facilis velit quis voluptatibus ullam quam, explicabo eum aut harum repudiandae aliquam, mollitia alias sit veniam eos sapiente pariatur tenetur.</p>
			</div>
		</main>

		<footer>
			<p>Pie de mi página web</p>
		</footer>
	</div>
</body>
</html>